/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        windows_screenshot: windows_screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp LEFT_WIN &kp LEFT_SHIFT &kp S>,
                <&macro_release>,
                <&kp LALT>;

            label = "WINDOWS_SCREENSHOT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp L         &kp P  &kp G        &kp K    &kp U  &kp O       &kp SLASH      &kp J  &kp BSPC
&kp LCTRL  &kp A  &kp R  &kp S         &kp T  &kp D        &kp H    &kp I  &kp E       &kp SEMICOLON  &kp N  &mt RCTRL SQT
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp F    &kp M  &kp PERIOD  &kp MINUS      &kp Y  &mt RIGHT_SHIFT COMMA
                         &kp LEFT_ALT  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp ESC
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &bt BT_NXT  &kp F9  &kp F10   &kp F11  &kp F12      &kp COMMA   &kp N7        &kp N8        &kp N9        &kp PAGE_UP    &kp BSPC
&kp LCTRL  &bt BT_PRV  &kp F5  &kp F6    &kp F7   &kp F8       &kp PERIOD  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PAGE_DOWN  &kp DELETE
&kp LSHFT  &bt BT_CLR  &kp F1  &kp F2    &kp F3   &kp F4       &kp N0      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp HOME       &kp END
                               &kp LGUI  &trans   &kp SPACE    &kp RET     &trans        &kp ESCAPE
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT    &kp HASH        &kp DLLR   &kp PRCNT            &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &kp CAPS  &trans    &kp UP_ARROW    &trans     &kp C_VOLUME_UP      &kp MINUS  &kp EQUAL  &kp BACKSLASH    &kp LBKT  &kp RBKT  &kp GRAVE
&kp LSHFT  &trans    &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &kp C_VOLUME_DOWN    &kp UNDER  &kp PLUS   &kp PIPE         &kp LBRC  &kp RBRC  &kp TILDE
                               &kp LGUI        &trans     &kp SPACE            &kp RET    &trans     &kp ESC
            >;
        };
    };
};
